*
!README.md
nvim/README.md
!setup.sh
!.gitignore
!sway/
!sway/*
sway/monitors-setup
!alacritty/
!alacritty/*
!nvim/
!nvim/lazyvim.json
!nvim/lua/
!nvim/lua/config/
!nvim/lua/config/options.lua
!nvim/lua/plugins/
!nvim/lua/plugins/disabled.lua
!nvim/lua/plugins/custom.lua
!gtk-3.0/
!gtk-3.0/settings.ini
!niri/
!niri/config.kdl
!niri/newterm.sh
!niri/displays.kdl.example
!waybar/
!waybar/config.jsonc
!systemd/
!systemd/user/
!systemd/user/xwayland-satellite.service
